{% extends 'post/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <a href="{% url 'new_package' %}" class="btn btn-primary mb-3">New package info</a>
        </div>
        <div class="col-md-4 offset-md-1">
            <form action="{% url 'operator' %}" method="post" class="mb-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Update package info</button>
                <div class="form-group" style="margin-top: 15px">
                    <label for="tracking_number_input">Tracking number</label>
                    <input type="text" name="tracking_number" class="form-control" id="tracking_number_input" required placeholder="UA12890147641123">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
